@keyframes ani {
    0% {background-position: 0;}
    100% {background-position: 100%;}
}
@keyframes updown {
    0% {transform: translateY(-10px);}
    100% {transform: translateY(10px);}
}
@keyframes loding {
    0% {width: 0;}
    100% {width: 100%;}
}
@keyframes text {
    0% {background-position-x: 0;}
    100% {background-position-x: -1000%;}
}